.search {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.label {
    position: relative;
}

.btn-exit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}

.btn-search {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 10px;
}

.icon {
    width: 2vw;
}

.input {
    width: 50vw;
    height: 8vh;
    padding: 15px;
    font-size: 1.5em;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

.input:active {
    border: 3px solid black;
}

.dropdown {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 10vh;
    width: 20vw;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 1201px) {
    .input {
        width: 90vw;
        font-size: 20px;
    }

    .icon {
        width: 3vw;
    }

    .dropdown {
        width: 50vw;
    }

}

@media screen and (max-width: 801px) {
    .input {
        height: 6vh;
    }
}

@media screen and (max-width: 550px) {
    .icon {
        width: 4vw;
    }

}

@media screen and (max-width: 480px) {
    .icon {
        width: 6vw;
    }
}

