.btn {
    width: 20vw;
    padding: 15px;
    background-color: #323331;
    color: silver;
    box-shadow: 1px 1px #000000;
    border: none;
    transition: .3s;
    margin-top: 15px;
}

.btn:hover {
    background-color: silver;
    color: #323331;
    box-shadow: 1px 1px #000000;
    transform: scale(1.05);
}

@media screen and (max-width: 1200px) {
    .btn {
        width: 60vw;
    }
}

@media screen and (max-width: 800px) {
    .btn {
        width: 90vw;
    }
}
